<div class="row">
  <div class="col-12">

  </div>
</div>
<h1>FOI PORRA!!</h1>
<p>{{admin}}</p>
<a href="/logout">SAI </a>
<br>
<br>
<br>
{{#each users}}
{{this.name}}
<br>
{{/each}}

<br><br><br>

{{#each userPending}}

{{this.name}}
<br>
{{/each}}

<br><br><br>

{{#each userActive}}

{{this.name}}
<br>
{{/each}}