@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.TITULO-Raleway-40pt {
  font-family: Raleway;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: left;
  color: #b97b54;
}

.TEXTO-Raleway-22pt {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #563c2c;
}

.TITULO-FOOTER-Raleway-18pt {
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: left;
  color: #ece8e3;
}

.TEXTO-MENOR-Raleway-18pt {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.54px;
  text-align: left;
  color: #563c2c;
}

.Raleway-14pt {
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: 1.4px;
  text-align: left;
  color: #ffffff;
}

.TEXTO-LOJAS-Raleway-14pt {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.42px;
  text-align: left;
  color: #563c2c;
}

.MENU-Ubuntu-14pt {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: left;
  color: #563c2c;
}

.TEXTO-FOOTER-Raleway-14pt {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: 1.4px;
  text-align: left;
  color: #ffffff;
}

.Raleway-12pt {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.36px;
  text-align: left;
  color: #563c2c;
}