/*
:root {
  --white: #ffffff;
  --pale: #ece8e3;
  --pinkish-brown: #b97b54;
  --dirt-brown: #563c2c;
  --camo-green: #473329;
}
*/

body {
  min-height: 75rem;
}

.navbar {
  width: calc(100cw -56px)
}

a.menu.nav-link {
  padding: .5rem 1.5rem;
}

a.menu:link, a.menu:hover, a.menu:visited {
  color: #563c2c;
}
a.menu:hover {
  background-color: #563c2c;
  color: #ffffff;
}

.section {
  margin-top: 75px;
}

.navbar-toggler-icon {
  background-image: url('../images/menuburguer.svg');
}

input {
  border: 2px solid #563c2c;
}

#navbarSupportedContent > a {
  color: #563c2c;
}

.bg-cocogoods {
  background-color: #D97B54 ;
}

.mheader {
  margin-top: 50px;
}

#home {
  //margin-top: 75px;
  height: 100vh;
  background-image: url('../images/BG-HEADER.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  height: 100vh;
  background-image: url('../images/BG1.jpg');
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#nutrition {
  height: 100vh;
  background-image: url('../images/BG2-DESK.png');
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#benefits {
  height: 100vh;
  background-image: url('../images/BG3.jpg');
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .carousel-item {
  padding: 0 50px;
} */

.carousel-control-prev-icon {
  background-image: url(../images/SETA-ESQUERDA.png);
  background-repeat: no-repeat;
  height: 45px;
  width: 24px;
}

.carousel-control-next-icon {
  background-image: url(../images/SETA-DIREITA.png);
  background-repeat: no-repeat;
  height: 45px;
  width: 24px;
}

#cupom {
  background-color: #ece8e3;
  /* #563c2c */
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#cupom input {
  border: 1px solid #b97b54;
}

#cupom .btn {
  background-color: #563c2c;
  color: #ffffff;
}

#stores {
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  min-height: 40vh;
  height: 100%;
  width: 100%;
}

footer {
  background-color: #563c2c;
  color: #ffffff;
  padding: 40px 0;
}

@media (max-width: 576px) {
  .section {
    margin-top: 45px;
  }

  h1.TITULO-Raleway-40pt {
    font-size: 24px;
  }  
  
  p.TEXTO-Raleway-22pt{
    font-size: 15px;
  }  

  #home {
    background-position-x: 50%;
    background-position-y: top;
    background-size: cover;
  }

  #nutrition {
    background-image: url('../images/BG2-MOBILE.png');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #563c2c;
}
