body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-cocogoods {
  background-color: #D97B54 ;
}

.mheader {
  margin-top: 50px;
}

section {
  display: flex;
  justify-items: center;
  align-items: center;
}

#map {
  height: 60vh;
  /* width: 40%; */
}

